In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import time

In [2]:
datapath = os.path.join(os.path.dirname(os.getcwd()),'data/')
datapath

'/home/sjswuhua/Desktop/GitHub/DoubanBookList/data/'

In [3]:
bookinfo = pd.read_csv(datapath+'BookInfoSet.csv', names = ['isnb','name','author','Avg','Num','URL','date'])
print(len(bookinfo))
bookinfo.head()

17376

,isnb,name,author,Avg,Num,URL,date
0,9787541154737,望乡,[日] 凑佳苗,7.0,112.0,https://book.douban.com/subject/34840588/,2020-03-12
1,9787100130400,中国史学史稿,刘节,NaN,0.0,https://book.douban.com/subject/26997226/,2020-03-12
2,9787020153268,算计,[日] 米泽穗信,7.8,15.0,https://book.douban.com/subject/34866078/,2020-03-12
3,9787303232017,维正之供,周健,9.0,41.0,https://book.douban.com/subject/34869893/,2020-03-12
4,9787514228076,恺撒,[澳] 考琳·麦卡洛,NaN,0.0,https://book.douban.com/subject/34867159/,2020-03-12

In [5]:
def cleanBookName(name):
    cleanName = name.split('(')[0]
    cleanName = cleanName.split('（')[0]
    return(cleanName)

In [50]:
cleanData = bookinfo.drop(['isnb', 'URL','date'], axis = 1)
cleanData.dropna(subset = ['Avg','Num'], inplace = True)
cleanData.reset_index(drop = True, inplace = True)
cleanData['name'] = cleanData['name'].apply(cleanBookName)
# cleanData['date'] = cleanData['date'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d').date())
cleanData

          name         author  Avg    Num
0           望乡        [日] 凑佳苗  7.0  112.0
1           算计       [日] 米泽穗信  7.8   15.0
2         维正之供             周健  9.0   41.0
3        十一种孤独     [美] 理查德·耶茨  8.3   29.0
4       夏先生的故事  [德] 帕特里克·聚斯金德  9.1   41.0
...        ...            ...  ...    ...
15174       替身       [日] 西泽保彦  7.6  845.0
15175  啤酒之家的冒險           西澤保彥  7.4  574.0
15176     陶渊明集           王瑶编注  8.6   10.0
15177  屈原与他的时代            赵逵夫  8.7   21.0
15178   世说新语校笺             杨勇  9.2  345.0

[15179 rows x 4 columns]

In [87]:
cleanData['name'].describe()[:2]

count     15179
unique    11183
Name: name, dtype: object

In [73]:
CleanBookInfo = cleanData.sample(0)
CleanBookInfo

Empty DataFrame
Columns: [name, author, Avg, Num]
Index: []

In [74]:
for i in range(len(cleanData)):
    if cleanData.iloc[i]['name'] in CleanBookInfo['name'].values:
        reviewnum = CleanBookInfo['Num'][CleanBookInfo['name'] == cleanData.iloc[i]['name']] + cleanData.iloc[i]['Num']
        reviewavg = (CleanBookInfo['Avg'][CleanBookInfo['name'] == cleanData.iloc[i]['name']] * CleanBookInfo['Num'][CleanBookInfo['name'] == cleanData.iloc[i]['name']] + cleanData.iloc[i]['Avg'] * cleanData.iloc[i]['Num']) / reviewnum
        CleanBookInfo['Num'][CleanBookInfo['name'] == cleanData.iloc[i]['name']] = reviewnum
        CleanBookInfo['Avg'][CleanBookInfo['name'] == cleanData.iloc[i]['name']] = reviewavg
        
    else:
        CleanBookInfo = CleanBookInfo.append(cleanData.iloc[i])
        
CleanBookInfo

/home/sjswuhua/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/sjswuhua/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          name         author       Avg      Num
0           望乡        [日] 凑佳苗  6.848485    462.0
1           算计       [日] 米泽穗信  7.800000     15.0
2         维正之供             周健  9.000000     41.0
3        十一种孤独     [美] 理查德·耶茨  8.192891  23856.0
4       夏先生的故事  [德] 帕特里克·聚斯金德  8.492791   1831.0
...        ...            ...       ...      ...
15173      黑贵妇       [日] 西泽保彦  7.100000   1048.0
15174       替身       [日] 西泽保彦  7.600000    845.0
15175  啤酒之家的冒險           西澤保彥  7.400000    574.0
15177  屈原与他的时代            赵逵夫  8.700000     21.0
15178   世说新语校笺             杨勇  9.200000    345.0

[11183 rows x 4 columns]

In [76]:
CleanBookInfo.to_csv(datapath+'CleanBookInfo.csv', index = False, header = False)
CleanBookInfo

          name         author       Avg      Num
0           望乡        [日] 凑佳苗  6.848485    462.0
1           算计       [日] 米泽穗信  7.800000     15.0
2         维正之供             周健  9.000000     41.0
3        十一种孤独     [美] 理查德·耶茨  8.192891  23856.0
4       夏先生的故事  [德] 帕特里克·聚斯金德  8.492791   1831.0
...        ...            ...       ...      ...
15173      黑贵妇       [日] 西泽保彦  7.100000   1048.0
15174       替身       [日] 西泽保彦  7.600000    845.0
15175  啤酒之家的冒險           西澤保彥  7.400000    574.0
15177  屈原与他的时代            赵逵夫  8.700000     21.0
15178   世说新语校笺             杨勇  9.200000    345.0

[11183 rows x 4 columns]